<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>user create form</h1>
  <form action="/users/<%= user.id %>/edit" method="POST">
    <input value="<%= user.name %>" type="text" name="name" placeholder="name">
    <input value="<%= user.email %>" type="email" name="email" placeholder="email">
    <input value="<%= user.age %>" type="number" name="age" placeholder="age">
    <textarea name="bio"cols="30" rows="10" placeholder="bio">
      <%= user.bio %>
    </textarea>
    <input value="<%= user.hobbies[0] %>" type="text" name="hobbies" placeholder="enter hobby">
    <input value="<%= user.hobbies[1] %>" type="text" name="hobbies" placeholder="enter hobby">
    <input value="<%= user.hobbies[2] %>" type="text" name="hobbies" placeholder="enter hobby">
    <input value="<%= user.hobbies[3] %>" type="text" name="hobbies" placeholder="enter hobby">
    <input value="<%= user.hobbies[4] %>" type="text" name="hobbies" placeholder="enter hobby">
    <input type="submit" value="submit">
  </form>
</body>
</html>