<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <h1>user updation form</h1>
  <form action="/users/<%= user.id %>/edit" method="POST">
    <input type="text" name="name" placeholder="name" value="<%= user.name %>">
    <input type="text" name="email" placeholder="email" value="<%= user.email %>">
    <input type="number" name="age" placeholder="age" value="<%= user.age %>">
    <input type="text" name="bio" placeholder="bio" value="<%= user.bio %>">
    <input type="submit" value="submit">
  </form>
</body>
</html>